# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Data files (nếu không muốn up dữ liệu)
*.csv
*.json
*.xlsx

# Model files (AI)
*.h5
*.pt
*.pth
*.joblib

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/